<body class="container11">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="http://localhost:3000/inicio">Categorias</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users/new">Cadastro Cliente</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users">Clientes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books/new">Cadastro Livro</a>
<li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books">Livros</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/estilos">Cadastro Estilos</a>
<li>
<li class="nav-item">
<a class="nav-link" href="">Fale Conosco</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Log Out</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>

<p id="notice"><%= notice %></p>



 <div class="m-4">
<h1>Estilos Cadastrados</h1>

 <form class="form-inline">
 <div class="botao-estilo">
    <button class="btn btn-success my-2 mx-5" type="submit" ><%= link_to 'Cadastrar Estilo', new_estilo_path  %></button>
    </div>
  </form>

<div class="container12">
 <% @estilos.each do |estilo| %>

<ul class="list-group">

<form class="form-inline">
  <li class="list-group-item"><p><strong>  </strong><%= estilo.categoria %></p>

  <form class="form-inline2">
  <div class="botao-estilo">
    <button class="btn btn-success my-2 mx-5" type="submit"><%= link_to 'Mostrar', estilo %> </button>
    <button class="btn btn-success my-2 mx-5" type="submit"><%= link_to 'Editar', edit_estilo_path(estilo) %>  </button>
    <button class="btn btn-success my-2 mx-5" type="submit"><%= link_to 'Apagar', estilo, method: :delete, data: { confirm: 'Are you sure?' } %></button></button>
  </div>
  </form>
 
<% end %>
</div>
</div>
</body>