
<body class="container8">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="http://localhost:3000/inicio">Categorias</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users/new">Cadastro Cliente</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users">Clientes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books/new">Cadastro Livro</a>
<li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books">Livros</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/estilos">Cadastro Estilos</a>
<li>
<li class="nav-item">
<a class="nav-link" href="">Fale Conosco</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Log Out</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>


<div class= "box-formulario2">
<p id="notice"><%= notice %></p>


 <div class="m-2">
<ul class="list-group">
  <li class="list-group-item"><p><strong>Nome:  </strong><%= @user.nome %></p></li>
  <li class="list-group-item"><p><strong>Endereco:  </strong><%= @user.endereco %></p></li>
  <li class="list-group-item"><p><strong>Email:  </strong><%= @user.email %></p></li>
  <li class="list-group-item"><p><strong>Aniversario:  </strong><%= @user.aniversario %></p></li>
  <li class="list-group-item"><p><strong>CPF:  </strong><%= @user.cpf %></p></li>
  <li class="list-group-item"><p><strong>Telefone:  </strong><%= @user.telefone %></p></li>
</ul>

<form class="form-inline">
    <button class="btn btn-success my-2 mx-5" type="submit"><%= link_to 'Editar', edit_user_path(@user) %> </button>
    <button class="btn btn-success" type="submit"><%= link_to 'Voltar', users_path %></button>
  </form>

  </div>
 </div>

 </body>