
<body class="container9">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="http://localhost:3000/inicio">Categorias</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users/new">Cadastro Cliente</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users">Clientes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books/new">Cadastro Livro</a>
<li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books">Livros</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/estilos">Cadastro Estilos</a>
<li>
<li class="nav-item">
<a class="nav-link" href="">Fale Conosco</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Log Out</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>

<%= form_for @book, html: {multpart: true} do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="m-4"> 
<div class="container4">

<h2>Cadastro Livro:</h2>

<div class="form-group col-6 md-6 m-4">
<p><label><%= form.label :titulo %></label>
<input class="form-control" <%= form.text_field :titulo %></p>
</div>

<div class="form-group col-4 md-6 m-4">
<p><label><%= form.label :autor %></label>
<input class="form-control" <%= form.text_field :autor %></p>
</div>

<div class="col-3 col-form-label m-4">
<p><label><%= form.label :estilo_id %></label>
<select class="form-control" <%= form.collection_select :estilo_id, Estilo.all, :id, :categoria, prompt: true %></select></p>
</div>

<div class="form-group col-md-4 m-4">
<p><label><%= form.label :avatar %></label>
<input class="form-control" <%= form.file_field :avatar %></p>
</div>

<div class="form-group col-md-2 m-4">
<p><label><%= form.label :preco %></label>
<input class="form-control" <%= form.text_field :preco %></p>
</div>

<div class="form-group col-md-8 m-4">
<p><label><%= form.label :resenha %></label>
<textarea class="form-control" rows="6" <%= form.text_area :resenha %></p>
</div>

  <form class="form-inline">
    <button class="btn btn-success my-2 mx-5" type="submit">Salvar</button>
  </form>
</div>
<% end %>
</div>
</body>
