
<body class="container10">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="http://localhost:3000/inicio">Categorias</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users/new">Cadastro Cliente</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/users">Clientes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books/new">Cadastro Livro</a>
<li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/books">Livros</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://localhost:3000/estilos">Cadastro Estilos</a>
<li>
<li class="nav-item">
<a class="nav-link" href="">Fale Conosco</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Log Out</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<%= form_tag(books_path, method: "get") do %>
<%= text_field_tag :search, params[:search]%>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" <%= submit_tag 'Search'  %>  Search</button>
<% end %>
</form>
</nav>


<p id="notice"><%= notice %></p>



<div class="container5">

<h1>Livros</h1>

 <form class="form-inline1">
    <button class="btn btn-outline-success my-2 mx-5" type="submit" ><%= link_to 'Cadastrar Livro', new_book_path %></button>
  </form>

 
    <% @books.each do |book| %>

 <div class="book_box"> 
<h5><%= book.titulo %></h5>
<img><%= image_tag book.avatar.url (:medium) %></img>
<h4>R$ <%= book.preco %></h4> 


  <form class="form-inline">
   <td> <button class="btn btn-sm btn-outline-success" type="submit"><%= link_to 'Detalhes', book %></button></td>
   <td><button class="btn btn-sm btn-outline-success mx-1" type="submit"><%= link_to 'Editar', edit_book_path(book) %>  </button></td>
   <td><button class="btn btn-sm btn-outline-success" type="submit"><%= link_to 'Apagar', book, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
  </form>

</div>


<% end %>

<div class="pagination">
 <%= will_paginate @books %>
 </div>


</div>
</body>

 







    


  





